@page
@model MemberEntry.Pages.Profile.CreateRoleModel
@{
}
<h2>Create New Role</h2>
<form method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="row">
        <div class="col-lg-8">
            <div class="form-group">
                <label asp-for="Input.RoleName"></label>
                <input asp-for="Input.RoleName" class="form-control" />
                <span asp-validation-for="Input.RoleName" class="text-danger"></span>
            </div>
        </div>
        <div class="col-lg-4 d-flex align-items-end">
            <button type="submit" class="btn btn-success">Save</button>
        </div>
    </div>
</form>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}