@page
@model MemberEntry.Pages.Profile.ManageRolesModel
@{
}
<h2>Manage Roles</h2>
<div class="text-end"><a asp-page="/Profile/CreateRole" class="btn btn-success">+ Add New</a></div>
<br />
<table class="table table-responsive">
    <thead class="table-light">
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th>Role Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var role in Model.Roles)
        {
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>@role.Name</td>
            </tr>
        }
    </tbody>
</table>
